<%= form_tag buy_path(permalink: permalink), :class => '', :id => 'payment-form' do %>
  <div class="formtop">
    <div class="frmElmnts2 clearfix" style="margin-top:25px;">
      <input type="text" placeholder="First Name" name='fname'>
    </div>
    <div class="frmElmnts2 clearfix">
      <input type="text" placeholder="Last Name" name='lname'>
    </div>
    <div class="frmElmnts2 clearfix">
      <input type="text" placeholder="Street Address" name='line1'>
    </div>
    <div class="frmElmnts2 clearfix">
      <input type="text" placeholder="Street Address" name='line1'>
    </div>
    <div class="frmElmnts2 clearfix">
      <input type="text" placeholder="City" name='city'>
    </div>
    <div class="frmElmnts2 clearfix">
      <input type="text" placeholder="State" name='region'>
    </div>
    <div class="frmElmnts2 clearfix">
      <input type="text" placeholder="ZIP Code" name='zip_code'>
    </div>
    <div class="frmElmnts2 clearfix">
      <input type="text" placeholder="Phone" name='phone'>
    </div>
  </div>
  <div class="formmid">
    <div class="frm-hding2">
      <p class="hding-txt">Enter Your Payment information</p>
      <img src="/images/hding-arrow.png" alt="" class="hding-arrow2">
    </div>
    <div class="well payment-well">
      <div class="row">
        <label class="control-label" for="email">Email Address <span class="label pull-right" style="margin-right: 8px">Secure <img src="<%= asset_path('lock.png') %>" style="height: 13px"></span></label>
        <input autofocus="true" type="email" name="email" id="email" placeholder="you@example.com" class="payment-input"/>
      </div>
      <div class="row">
        <label class="control-label" for="number">Card Number <span class="pull-right" style="margin-right: 8px"><img src="<%= asset_path('visa.png') %>" style="height: 15px;"><img src="<%= asset_path('mastercard.png') %>" style="height: 15px;"><img src="<%= asset_path('amex.png') %>" style="height: 15px;"><img src="<%= asset_path('discover.png') %>" style="height: 15px;"></span></label>
        <input type="text" size="20" data-stripe="number" id="number" placeholder="1234 5678 9012 3456" pattern="[\d ]*" class="payment-input"/>
      </div>
      <div class="row">
        <div style="float: left">
          <label class="control-label" for="cvc">CV Code</label>
          <input type="text" style="width: 3em" size="3" data-stripe="cvc" id="cvc" placeholder="123" pattern="\d*"/>
          <img id="card-image" src="<%= asset_path('credit.png') %>" style="height: 30px; padding-left: 10px; margin-top: -10px">
        </div>
        <div style="float: right; margin-right: 8px">
          <label class="control-label">Expiry Date</label>
          <input style="width: 2em" type="text" size="2" id="exp-month" data-stripe="exp-month" placeholder="MM" pattern="\d*"/>
          <span> / </span>
          <input style="width: 3em" type="text" size="4" id="exp-year" data-stripe="exp-year" placeholder="YYYY" pattern="\d*"/>
        </div>
      </div>
      <div class="row" style="margin-top: 20px">
        <div class="price" style="margin-top: 20px; float: left"><%= price %></div>
        <div style="float: right; margin-right: 8px;text-align:center">
          <div class="btn btn-success btn-large" disabled="disabled" style="display: none; width: 70px; height: 20px;" id="spinner-button"><img src="<%= asset_path('green_spinner_2.gif') %>" style="height: 15px;"></div>
          <button type="submit" class="btn btn-success btn-large" id="pay-button">Pay Now</button><br>
          <!-- <small style="font-size:0.65em">90 Day Money-Back Guarantee</small> -->
        </div>
      </div>
      <div class="row">
        <div id="payment-errors" class="alert payment-alert" style="<%= sale.errors.any? ? '' : 'display: none;' %> margin-bottom: 1em;margin-top: 1em;">
          <% sale.errors.full_messages.each do |msg| %>
            <span><%= msg %></span>
          <% end %>
        </div>
        <div id="powered-by-stripe" style="<%= sale.errors.any? ? 'display: none;' : '' %> margin-left: auto; margin-right: auto; text-align: center;margin-bottom:1em;">
          <img src="<%= asset_path('powered_by_stripe.png') %>" width="119" height="26">
        </div>
        <div class="formbtm"><img src="/images/lock.png" alt="" class="lock"></div>
      </div>
    </div>
  </div>
<% end %>



<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  $(function(){
    Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
  });
  $(function() {
    // Capture the submit event, call Stripe, and start a spinner
    $('#payment-form').submit(function(event) {
      var form = $(this);
      form.find('button').prop('disabled', true);
      Stripe.createToken(form, stripeResponseHandler);
      $('#spinner').show();
      return false;
    });

    // Handle the async response from Stripe. On success,
    // POST the form data to the create action and start
    // polling for completion. On error, display the error
    // to the customer.
    function stripeResponseHandler(status, response) {
      var form = $('#payment-form');
      if (response.error) {
        showError(response.error.message);
      } else {
        var token = response.id;
        form.append($('<input type="hidden" name="stripeToken">').val(token));
        $.ajax({
          type: "POST",
          url: "/buy/<%= permalink %>",
          data: $('#payment-form').serialize(),
          success: function(data) { console.log(data); poll(data.guid, 30) },
          error: function(data) { console.log(data); showError(data.responseJSON.error) }
        });
      }
    }

    // Recursively poll for completion.
    function poll(guid, num_retries_left) {
      if (num_retries_left == 0) {
        showError("This seems to be taking too long. Email help@example.com and reference transaction " + guid + " and we'll take a look.");
        return;
      }
      $.get("/status/" + guid, function(data) {
        if (data.status === "finished") {
          window.location = "/pickup/" + guid;
        } else if (data.status === "errored") {
          showError(data.error)
        } else {
          setTimeout(function() { poll(guid, num_retries_left - 1) }, 500);
        }
      });
    }

    function showError(error) {
      var form = $('#payment-form');
      form.find('#payment-errors').text(error);
      form.find('#payment-errors').show();
      form.find('button').prop('disabled', false);
      form.find('#spinner').hide();
    }
  });

</script>
